.container{
    position:relative;
    overflow-x: hidden;
}
.meeting{
    height:90vh;
}
.videoContainer{
    padding: 20px;
    height: 90vh;
    overflow-y: scroll;
    width: 100%;
    margin: 0 auto;
    scrollbar-width: thin;
}
.control{
    z-index: 10;
    margin-bottom: 0;
    background:#293241;
    padding:10px;
    padding-bottom: 20px;
    color:#edf6f9;
}
