.container{
    position:relative;
    overflow-x: hidden;
    background-color: #212121;
    color : white;
}
.topSection{
    margin-top:10px;
}
.meeting{
    height:95vh;
}
.videoContainer{
    padding: 20px;
    height: 90vh;
    overflow-y: scroll;
    width: 100%;
    margin: 0 auto;
    scrollbar-width: thin;
}
.control{
    z-index: 10;
    margin-bottom: 0;
    background:#293241;
    padding:10px;
    padding-bottom: 20px;
    color:#edf6f9;
}
.control button{
    color:'white' !important;
    height:'3rem'; 
    width:'3rem';
}
.redIcon{
    background: red !important;
}
.whiteIcon{ 
    background: #1e1c1c !important;
}