.meeting{
    height:90vh;
}
.myVideo{
    height:100%;
    width: 100%;
    margin:auto;
}
.myVideoContainer{
    height:40%;
    width:50%;
    max-height: 300px;
    max-width: 400px;
    min-width: 300px;
    margin:auto;
    text-align: center;
    object-fit: contain;
}
.container{
    padding: 20px;
    height: 80vh;
    overflow-y: scroll;
    width: 100%;
    margin: 0 auto;
}
.controls{
    z-index: 10;
}
