.styledVideo{
    position: relative;
    z-index: 0;
    height:100%;
    width: 100%;
    object-fit: cover;
    margin:auto;
    border-radius: 5%;
}
.peerVideoContainer{
    position: relative;
    width: 49%;
    min-height: 300px;
    min-width: 300px;
    margin: 2px auto;
    text-align: center;
}
.overlay {
    position:absolute;
    bottom:3%;
    left:3%;
    z-index:1;
    background:black;
    color:white !important;
    font-size: 1.25rem;
    padding:5px;
}